

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 24rem;
}
.embla_banners{
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 24rem;
}


@media (min-width: 750px) {
  .sandbox {
    margin-left: auto;
    margin-right: auto;
    max-width: 67rem;
  }
}

@media (min-width: 750px) {
  .embla {
    --slide-size: 45%;
  }
  .embla_banners{
    --slide-size: 70%;
  }
}




.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}


/* 
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
} */

.embla__slide__number>span {
  color: rgb(47, 112, 193);
  background-image: linear-gradient(45deg,
      rgb(47, 112, 193),
      rgb(116, 97, 195));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
/* 
.embla__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
} */



.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: black;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: '';
}

.embla__dot--selected:after {
  background: linear-gradient(45deg,
      rgb(47, 112, 193),
      rgb(116, 97, 195));
}